<div class="page-header">
  <%= link_to marketing_requests_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @marketing_request, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h3>&nbsp;</h3>
</div>

<%= render 'form' %>
